body {
    background-color: $redBg;
}

.about {
    width: 80vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h2 {
        text-align: center;
    }

    @include for-tablet-portrait-up {
        font-size: $l-size;
    }
}