body {
    background-color: $redBg;
}

.contact {
    width: 80vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-flow: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    a {
        text-decoration: none;
    }

    @include for-tablet-portrait-up {
        font-size: $l-size;
    }
}