.searchScreen {
    background-color: $redBg;
    height: 100vh;
    font-size: $l-size;
    color: white;
    position: relative;
}

.searchbox {

    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    justify-content: space-around;
    text-align: center;
    padding: 0;

    @include for-phone-only {
        width: 90vw;
    }

      @include for-tablet-portrait-up {
          width: 70vw;
      }

      @include for-tablet-landscape-up {
          width: 60vw;
      }

      @include for-desktop-up {
         width: 40vw; 
    }

}

.searchbox__form-root {

    position: relative;
}

.form__button {
    position: absolute;
    width: 5rem;
    height: 5rem;
    top: 10%;
    right: 9%;
    background-image: url("/images/magnifier.png");
    background-repeat: no-repeat;
    background-position: 0.6rem 0.6rem;
    background-color: white;
    background-size: 3rem;

}

.locationbutton {
    width: 70%;
    height: 6rem;
    align-self: center;
    font-size: 2.5rem;
    background-color: $sidebarGreen;
    border: none;
    color: $customPurple;
    background-image: url("/images/send.png");
    background-repeat: no-repeat;
    background-position: 25% 50%;
    text-indent: 25%;

    @include for-phone-only {
        background-position: 10% 50%;
        font-size: 65%;
        width: 60%;
        text-indent: 20%;
      }

      @include for-tablet-portrait-up  {
        background-position: 10% 50%;
        width:60%;
        text-indent: 15%;
      }

      @include for-tablet-landscape-up {
        width: 50%;
        background-position: 10% 50%;
        text-indent: 5%;
      }

      
      @include for-desktop-up {
          text-indent: 25%;
   }

}




