.searchScreen {
    background-color: $redBg;
    height: 100vh;
    font-size: $l-size;
    .searchScreen__form {
        display: block;
        color: white;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .searchScreen__btn {
        text-align: center;
        color: white;
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .searchScreen_btn p {
        display: block;
    }

    .searchScreen_btn button {
        display: block;
    }
}