.searchScreen {
    background-color: $redBg;
    height: 100vh;
    font-size: $l-size;
    color: white;
    position: relative;

}

.searchbox {
    width: 90vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    justify-content: space-around;
    text-align: center;
    padding: 0;
    z-index: 100;

    @include for-phone-only-landscape {
        top: 65%;
        font-size: 2rem;

        justify-content: space-between;
    }

    @include for-tablet-portrait-up {
        top: 45%;
        width: 75vw;
    }

    @include for-tablet-landscape-up {
        top: 40%;
        width: 50vw;
        font-size: $l-size;
    }

    @include for-desktop-up {
        top: 50%;
        width: 40vw;
    }
}

.searchbox__form-root {
    position: relative;
}

.form__button {
    position: absolute;
    width: 5rem;
    height: 5rem;
    top: 10%;
    right: 9%;
    background-image: url("/images/magnifier.png");
    background-repeat: no-repeat;
    background-position: 0.6rem 0.6rem;
    background-color: white;
    background-size: 3rem;
}

.locationbutton {
    width: 70%;
    height: 6rem;
    align-self: center;
    font-size: 2rem;
    background-color: $sidebarGreen;
    border: none;
    color: $customPurple;
    background-image: url("/images/send.png");
    background-repeat: no-repeat;
    background-position: 10% 50%;
    text-indent: 20%;

    @include for-phone-only-landscape {
        width: 55%;
    }

    @include for-tablet-portrait-up {
        width: 40%;
    }

}




