body {
    background-color: $customPurple;
    font-size: 2rem;
}

.weatherbox {
    width: 60vw;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    @include for-tablet-portrait-up {
        width: 80vw;
    }

    @include for-desktop-up {
        width: 60vw;
    }
}

.today {
    width: 100%;
    padding-bottom: 1%;
    font-size: $l-size;
}

.rest {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;

    @include for-phone-only {
        flex-direction: column;
    }

    @include for-tablet-portrait-up {
        justify-content: space-around;
    }
}
.highlightColor {
    color: $sidebarGreen;
}

.opacity {
    opacity: .5;
}

.setpadding {
}
